.env
.env.production
.php-cs-fixer.cache
.phpunit.result.cache
/.idea
/data
/logs
/node_modules
/vendor
Homestead.json
Homestead.yaml
docker-compose.override.yaml
public/screenshots
storage/app
storage/framework
storage/logs
