.env
.env.production
.php-cs-fixer.cache
.phpunit.result.cache
/.idea
/data
/logs
/node_modules
/vendor
Homestead.json
Homestead.yaml
docker-compose.override.yaml
public/screenshots
storage/app
storage/framework/cache/data/*
!storage/framework/cache/data/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep
storage/logs/*
!storage/logs/.gitkeep
bootstrap/cache/*.php
